<h1 class="home__title">JohnstonCode</h1>
<div class="social">
    <a href="https://github.com/JohnstonCode" target="_blank" rel="noopener">Github</a>
</div>
<nav class="nav">
    {{!-- <a href="/">Home</a> --}}
    {{!-- <a href="/blog">Blog</a> --}}
</nav>
