[Unit]
Description=JohnstonCode website
Documentation=https://github.com/JohnstonCode/johnstoncode
After=network.target

[Service]
Type=simple
User=chris
WorkingDirectory=/var/www/johnstoncode
ExecStart=/home/chris/.deno/bin/deno run --allow-net --allow-read server.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
