{% extends "base" %}

{% block title %}JohnstonCode{% endblock title %}

{% block content %}
    <h1 class="home__title">JohnstonCode</h1>
    <div class="social">
        <a href="https://github.com/JohnstonCode" target="_blank" rel="noopener">Github</a>
    </div>
{% endblock content %}
